<!DOCTYPE html>
{% load static %}

<html lang="fr-FR" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>BWA</title>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'css/revolucy.css' %}" rel="stylesheet" id="style-revolucy">
</head>

<body class="login-page">

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-4">
            <div class="card login-box-container">
                <div class="card-body">
                    <div class="authent-logo">
                        <img class="logo-login" src="{% static 'images/logo/MGL_logo_quadri.png' %}" alt="Logo">
                    </div>
                    <div class="password-init-text">
                        <h2 class="font-weight-bold mt-3">Réinitialisation terminée</h2>
                        <p>Votre mot de passe a été réinitialisé.<br/>Vous pouvez maintenant vous reconnecter.</p>
                    </div>
                    <a style="width: 100%;margin-top: 15px;" class="btn btn-primary" href="{% url 'dashboard' %}">Continuer</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
