<!DOCTYPE html>
{% load static %}

<html lang="fr-FR" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>BWA</title>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'css/revolucy.css' %}" rel="stylesheet" id="style-revolucy">

</head>

<body class="login-page">
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-4">
            <div class="card login-box-container">
                <div class="card-body">
                    <div class="authent-logo"><img class="logo-login" src="{% static 'images/logo/MGL_logo_quadri.png' %}" alt="Logo"></div>
                    <div class="password-init-text">
                        <h5>Réinitiliser le mot de passe</h5>
                        <p style="text-align: center;">Vous souhaitez un nouveau mot de passe ?<br>Indiquez-nous votre email :</p>
                    </div>
                    <form class="row g-3" method="post" novalidate>
                        {% csrf_token %}
                        <div>
                            {% if form.errors %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}">
                            {% if form.civilite.errors %}
                            {% for error in form.civilite.errors %}
                            <p class="text-danger">{{ error|escape }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" name="change-password-submit" type="submit">Valider</button>
                        </div>
                        <div class="col-12">
                            <a class="btn btn-primary" href="{% url 'dashboard' %}"
                               style="margin-top: 10px; background-color: var(--falcon-btn-reveal-border-color); border-color: var(--falcon-btn-reveal-border-color); color: black;">
                                Revenir à l'accueil
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
